<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
  <!--  Nested Form Begin -->
  <p>Addresses</p>
    @contact.addresses Details<br>
    <%= @contact.addresses.inspect %><br>
    <p></p>@Contract Details<br>
    <%= @contact.inspect %><br>
    <p></p>@address1<br>
    <%= @address1.inspect %>
	    
	    <% if @contact.addresses.any? %>
		    <%= @contact.addressses.each do |addresses_form| %>
		    <%= link_to addresses, addresses %>
		    <% end %>
  		<% end %>
</p>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
